{% extends "login/layout.html" %}

{% block title %}
login
{% endblock %}

{% block style %}
    <style>
        form {
            border-radius: 25px;
            margin-top: 135px;
            height: 350px;
            width: 380px;
            background-color: black;
            padding: 20px;
            border: 2px solid white;
        }
        input {
            margin-bottom: 10px;
            padding: 5px;
            border-radius: 10px;
            border: 1px solid white;
            height: 20px;
            width: 230px;
        }
        #but {
            height: 30px;
            width:70px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        h1 {
            color: white;
            margin-top: 10px;
            font-size: 50px;
            text-decoration: underline;
        }
        a {
            margin-top: 5px;
            color: white;
        }
        p {
            color: white;
        }
    </style>
{% endblock %}
{% block body %}
    <main>
        <form action="{% url 'base' %}" method="post">
            {% csrf_token %}
            <h1>Welcome</h1>
            <br>
            <input type="text" name="username" placeholder="Username">
            <br>
            <input type="password" name="password" placeholder="Password">
            <br>
            <input id="but" type="submit" name="Login" value="Login">
            <p>{{ message }}</p>
            <a href="{% url 'user' %}">Create User</a>
        </form>
    </main>
{% endblock %}
