{% extends "login/layout.html" %}

{% block title %}
Create User
{% endblock %}

{% block style %}
<style>
    form {
        border-radius: 25px;
        color: white;
        margin-top: 135px;
        height: 350px;
        width: 380px;
        background-color: black;
        padding: 20px;
        border: 2px solid white;
    }
    h1 {
        color: white;
        margin-top: 2px;
        font-size: 50px;
        text-decoration: underline;
    }
    input[type=text],input[type=password] {
        color: white;
        border: none;
        border-bottom: 2px solid white;
        background: black;
        margin-bottom: 10px;
        padding: 5px;
        height: 20px;
        width: 200px;

    }
    
    label {
        padding: 10px;
        margin: 8px;
    }
    #but {
        height: 30px;
        width:70px;
        margin-top: 20px;
    } 
    a {
        color: white;
    }
    p {
        color: white;
    }
</style>
{% endblock %}

{% block body %}
<main>
    <div>
        <form action="{% url 'user' %}" method="post">
            {% csrf_token %}
            <h1>Sign up</h1>
            <label>First Name: </label>
            <input type="text" name="first_name" placeholder="John" required>
            <br>
            <label>Last Name: </label>
            <input type="text" name="last_name" placeholder="Doe" required>
            <br>
            <label>Username: </label>
            <input type="text" name="username" placeholder="johndoe" required>
            <br>
            <label>Password: </label>
            <input type="password" name="passkey" placeholder="***********" required>
            <br>
            <input id="but" type="submit" value="Submit">
            <br>
            <p>{{ message }}<a href="{% url 'login' %}">Back</a></p>
        </form>
    </div>
</main>
{% endblock%}

